.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  width: 100vw;
  box-sizing: border-box;
}

.logo {
  margin: 0;
}

.logo a {
  color: white;
  text-decoration: none;
}

.logo a:hover {
  color: white;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 15px;
}

.nav-item a {
  color: white;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}
